
@{
    ViewBag.Title = "Futebol Lima Duarte";
}

<h2>PaginaInicial</h2>
<div class="pull-left">
    <a href="~/Admin/Partida/Index">Listar Partidas</a>
</div>
<br />
<div class="pull-left">
    <a href="~/Admin/Partida/Cadastrar">Cadastrar Partida</a>
</div>
<br />
<div class="pull-left">
    <a href="~/Admin/Partida/Index">Inserir Resultado</a>
</div>
<br />
<div class="pull-left">
    <a href="~/Admin/Partida/Index">Comentar Partida</a>
</div>