@{
    ViewBag.Title = "Sobre o site";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<div>
    <p>
        Pessoal, será possível se manter atualizado de classificação do campeonato, tanto da 1ª quanto da 2ª divisão.
    </p>
    <p>
        A intenção é ser transparente da melhor maneira possível e sem politicagem.
    </p>
    <p>
        Quem puder contribuir com informações dos clubes, favor deixar o comentario na página ou no grupo Futebol Lima Duarte do face.
    </p>
    <p>
        Tentaremos centralizar o máximo de informações dos clubes facilitando a integração entre todos.
    </p>
    <p>
        Atenção: esta ferramenta não substitui o grupo Futebol Lima Duarte no Facebook.
    </p>
    <p>
        Qualquer informação incorreta ou que afete a imagem de alguma pessoa, favor solicitar a retirada, envie e-mail para joaocelson@gmail.com
    </p>
</div>

