@{
    ViewBag.Title = "Futebol Lima Duarte";
}
<!--Importar os scripst e css-->
<link rel="stylesheet" type="text/css" href="~/Content/galeria/style.css" />
<script type="text/javascript" src="~/Content/galeria/jquery.js"></script>

<br />
<p>
    Parabéns aos clubes por proporcionar ao jovens momento de lazer. Foram aproximadamente 200 crianças presente no campo da AALD.
</p>

<br />

<div id="wowslider-container1">
    <div class="ws_images">

        <ul>

            <li><img src="https://lh5.googleusercontent.com/FOqHOibtLko9jYOB56jRIKRg_ddxEflSOMsXfrO355z0=w968-h553-no" alt="Sub 13 2014" title="Sub 13 2014" id="wows1_0" /></li>
            <li><img src="https://lh4.googleusercontent.com/-JYLLjAExPBA/U5Z7zKfcrFI/AAAAAAAAQ0U/-RgN7ytPaG8/w968-h553-no/AALD_SUB_13_EDT.jpg" alt="Sub 13 2014" title="Sub 13 2014" id="wows1_0" /></li>
            <li><img src="https://lh3.googleusercontent.com/-W1IbKT8xuYQ/U5Z7zXtCzQI/AAAAAAAAQ0Q/Jn92Bc0ake4/w968-h553-no/AALD_SUB_15_EDT.jpg" alt="Sub 15 2014" title="Sub 15 2014" id="wows1_0" /></li>
            <li><img src="https://lh4.googleusercontent.com/-CSy_c_0XDvo/U5Z73fVPaLI/AAAAAAAAQ0g/46vkV4f37TQ/w968-h553-no/CRUZEIRO_SUB_15_EDT.jpg" alt="Sub 15 2014" title="Sub 15 2014" id="wows1_0" /></li>
            <li><img src="https://lh6.googleusercontent.com/-cHq9XzEOHxs/U5Z7zrbuBUI/AAAAAAAAQ0Y/kkc7Py3Dx8g/w968-h553-no/AALD_SUB_17_EDT.jpg" alt="Sub 17 2014" title="Sub 17 2014" id="wows1_0" /></li>
            <li><img src="https://lh6.googleusercontent.com/-YG-TwnDBYWU/U5Z75Y05qUI/AAAAAAAAQ0w/_1TqnSTwpYs/w968-h553-no/Cruzerio_SUB_17_EDT.jpg" alt="Sub 17 2014" title="Sub 17 2014" id="wows1_0" /></li>
            <li><img src="https://lh3.googleusercontent.com/-ZOEkKLhWuRg/U5Z76af8JpI/AAAAAAAAQ04/gUV11tHXwc8/w968-h553-no/IMG_8886_EDT.JPG" alt="Lance Jogo" title="Lance Jogo" id="wows1_0" /></li>
            <li><img src="https://lh4.googleusercontent.com/-rl0SFHkc_UM/U5Z78NcqskI/AAAAAAAAQ1A/2B1wA72KC94/w968-h553-no/IMG_8887_EDT.JPG" alt="Lance Jogo" title="Lance Jogo" id="wows1_0" /></li>
            <li><img src="https://lh5.googleusercontent.com/-S-enc4kVddI/U5Z78-C4xrI/AAAAAAAAQ1I/W8G_mUzY6HY/w968-h553-no/IMG_8891_EDT.JPG" alt="Lance Jogo" title="Lance Jogo" id="wows1_0" /></li>
            <li><img src="https://lh3.googleusercontent.com/ZCClch5sF1NG1oc7nlMK0XaSkFE7xuCGkwKwy5wi8pCh=w968-h553-no" alt="Lance Jogo" title="Lance Jogo" id="wows1_0" /></li>
            <li><img src="https://lh5.googleusercontent.com/9pj-Gqxs2ND3O0SFhc6FHO3o9tPtv82_aOeBRSiUC0yx=w968-h553-no" alt="Lance Jogo" title="Lance Jogo" id="wows1_0" /></li>
            <li><img src="https://lh6.googleusercontent.com/-JUxkhhk4EFM/U5Z8Ackbd6I/AAAAAAAAQ1g/sISdVGLDjF4/w968-h553-no/IMG_8925_EDT.JPG" alt="Lance Jogo" title="Lance Jogo" id="wows1_0" /></li>
            <li><img src="https://lh3.googleusercontent.com/-kaHTZKb8TvQ/U5Z8CBfFFeI/AAAAAAAAQ1o/YzUcMfvAWSs/w968-h553-no/IMG_8945_EDT.JPG" alt="Lance Jogo" title="Lance Jogo" id="wows1_0" /></li>
            <li><img src="https://lh4.googleusercontent.com/-v4Q2Eid4TiQ/U5Z8Cn-EmcI/AAAAAAAAQ1w/6bH80WrJB5k/w968-h553-no/IMG_8998_EDT.JPG" alt="Lance Jogo" title="Lance Jogo" id="wows1_0" /></li>
            <li><img src="https://lh6.googleusercontent.com/-RVAoqjF_gpE/U5Z8Q9ytKeI/AAAAAAAAQ2g/ZXxKGh05sF8/w968-h553-no/IMG_9005_EDT.JPG" alt="Lance Jogo" title="Lance Jogo" id="wows1_0" /></li>
            <li><img src="https://lh6.googleusercontent.com/-umke71sY3bY/U5Z8EDq8rII/AAAAAAAAQ14/pE8XU2YZhW8/w968-h553-no/IMG_9013_EDT.JPG" alt="Lance Jogo" title="Lance Jogo" id="wows1_0" /></li>
            <li><img src="https://lh6.googleusercontent.com/-J5_fkeMA2EY/U5Z8FeUnWOI/AAAAAAAAQ2A/f-B4lP6bfds/w968-h553-no/IMG_9026_EDT.JPG" alt="Lance Jogo" title="Lance Jogo" id="wows1_0" /></li>
            <li><img src="https://lh5.googleusercontent.com/-JU2x_Opyu8A/U5Z8G3xsMZI/AAAAAAAAQ2I/52f6Ls50lZg/w968-h553-no/IMG_9042_EDT.JPG" alt="Lance Jogo" title="Lance Jogo" id="wows1_0" /></li>
            <li><img src="https://lh4.googleusercontent.com/-3AfQ2u9syak/U5Z8Q3SHNvI/AAAAAAAAQ2c/Hg7NscTa4J8/w968-h553-no/IMG_9043.JPG" alt="Lance Jogo" title="Lance Jogo" id="wows1_0" /></li>
            <li><img src="https://lh4.googleusercontent.com/-A3jP6teIaig/U5Z8J8jj7RI/AAAAAAAAQ2Q/PrtxWDHsXC4/w968-h553-no/IMG_9059.JPG" alt="Lance Jogo" title="Lance Jogo" id="wows1_0" /></li>

        </ul>
    </div>
</div>
<script type="text/javascript" src="~/Content/galeria/wowslider.js"></script>
<script type="text/javascript" src="~/Content/galeria/script.js"></script>
<br />
<div style="text-align:center">   <img src="https://lh3.googleusercontent.com/-SwfPDJuj9Yk/U5aP187YEPI/AAAAAAAAQ5U/-q1R3KQULFw/s160-no/N%25C3%25A3o+as+drogas.jpg" alt="Lance Jogo" title="Lance Jogo" id="wows1_0" /></div>
<br />

<div style="text-align:center">
    <iframe width="560" height="315" src="//www.youtube.com/embed/ZNqv91oS5pw" frameborder="0" allowfullscreen></iframe>
</div>


<div style="text-align:center">
    <iframe width="560" height="315" src="//www.youtube.com/embed/Y3tdeSkhWQQ" frameborder="0" allowfullscreen></iframe>
</div>


<div style="text-align:center">
    <iframe width="560" height="315" src="//www.youtube.com/embed/Y3tdeSkhWQQ" frameborder="0" allowfullscreen></iframe>
</div>


<div style="text-align:center">
    <iframe width="560" height="315" src="//www.youtube.com/embed/9qEX6Y2AM8U" frameborder="0" allowfullscreen></iframe>
</div>


<div style="text-align:center">
    <iframe width="560" height="315" src="//www.youtube.com/embed/x-pijsL3wGc" frameborder="0" allowfullscreen></iframe>
</div>


<div style="text-align:center">
    <iframe width="560" height="315" src="//www.youtube.com/embed/VNsWshAL2Ck" frameborder="0" allowfullscreen></iframe>
</div>

<div style="text-align:center">
    <iframe width="560" height="315" src="//www.youtube.com/embed/mbMEm0UhOhQ" frameborder="0" allowfullscreen></iframe>
</div>


<div style="text-align:center">
    <iframe width="560" height="315" src="//www.youtube.com/embed/bJqWdIhjaRU" frameborder="0" allowfullscreen></iframe>
</div>

<div style="text-align:center">
    <iframe width="560" height="315" src="//www.youtube.com/embed/jctEd9BWzkI" frameborder="0" allowfullscreen></iframe>
</div>

<!-- FIM DA GALERIA -->
