@{
    ViewBag.Title = "Futebol Lima Duarte";
}
<!--Importar os scripst e css-->
<link rel="stylesheet" type="text/css" href="~/Content/galeria/style.css" />
<script type="text/javascript" src="~/Content/galeria/jquery.js"></script>

<br />
<p>
    <div style="text-align:center">   Torneio de veteranos chega ao fim, Santa Terezinha leva o título. Final realizada dia 19/06/2014 campo do Minas.</div>
</p>



<div style="text-align:center">
    <img src="https://lh3.googleusercontent.com/-XcIJdcsbKR0/U6ROJ6_g9OI/AAAAAAAAR8c/XEPKqpOtCXU/w961-h549-no/Campe%25C3%25A3o+Veteranos+2014.jpg" alt="Veteranos 2014 - Minas x Santa Terezinha" title="Veteranos 2014 - Minas x Santa Terezinha" id="wows1_0" />
</div>



<br />

<div style="text-align:center">
    <img src="https://lh6.googleusercontent.com/-SYafcdxEiyA/U6OdX-pusII/AAAAAAAAR7s/NyBcSTprhxk/w961-h549-no/Respons%25C3%25A1veis_Campeonato.jpg" />
</div>

<p>
    <div style="text-align:center"> Parabéns ao Cléber e Alarcon pela inciativa e organização do torneio.</div>
</p>

<br />

<div id="wowslider-container1">
    <div class="ws_images">

        <ul>
            <li><img src="https://lh6.googleusercontent.com/-OraY5zL5R-g/U6OdXbZCwtI/AAAAAAAAR7o/_VJWeUx3Xpg/w961-h549-no/Olaria_Time.jpg" alt="Finalista Olaria 2014" title="Finalista Olaria 2014" id="wows1_0" /></li>
            <li><img src="https://lh4.googleusercontent.com/-YAvETeIO0vs/U6OdYiMB-BI/AAAAAAAAR70/1ytn2LfMUPM/w961-h549-no/Santa_Time.jpg" alt="Finalista Santa Terezinha 2014" title="Finalista Santa Terezinha 2014" id="wows1_0" /></li>
            <li><img src="https://lh5.googleusercontent.com/-gW8S5gdES20/U6OdTeOX2hI/AAAAAAAAR6s/eirh447dySI/w961-h549-no/Comemoracao_Santa.jpg" alt="Entrega Troféu Campeão" title="Entrega Troféu Campeão" id="wows1_0" /></li>
            <li><img src="https://lh4.googleusercontent.com/-VmpWd861VFI/U6OdUX6AUcI/AAAAAAAAR64/5ZS0p2h5_qM/w961-h549-no/Entrega+Trof%25C3%25A9us.jpg" alt="Entrega Troféu" title="Entrega Troféu" id="wows1_0" /></li>
            <li><img src="https://lh3.googleusercontent.com/-Et2VLj4j9DE/U6OdZkbmp2I/AAAAAAAAR8A/V2dCX85SpOY/w961-h549-no/Time+Campeao.jpg" alt="Santa Terezinha Campeão Torneio Veteranos" title="Santa Terezinha Campeão Torneio Veteranos" id="wows1_0" /></li>
            <li><img src="https://lh6.googleusercontent.com/-OvrqnVIZr6o/U6OdWE3ZABI/AAAAAAAAR7U/vcgXHucfIi0/w961-h549-no/Fim+De+Jogo.jpg" alt="Comemoração fim do jogo" title="Comemoração fim do jogo" id="wows1_0" /></li>
            <li><img src="https://lh3.googleusercontent.com/-NS3trMSRrZk/U6OdVOLKgLI/AAAAAAAAR7I/cgyUBYXhni8/w961-h549-no/Entrega_Goleiro_menos_vazado.jpg" alt="Entrega goleiro menos vazado" title="Entrega goleiro menos vazado" id="wows1_0" /></li>
            <li><img src="https://lh3.googleusercontent.com/-4PjXNoD4UF0/U6OdVvtMtxI/AAAAAAAAR7Q/IIUIjp6aPFg/w961-h549-no/Entrega_Olaria.jpg" alt="Entrega troféu Olaria" title="Entrega troféu Olaria" id="wows1_0" /></li>
            <li><img src="https://lh4.googleusercontent.com/-ATfv4e5B2ho/U6OdWoYTwrI/AAAAAAAAR7c/vf3RcWm4JO8/w961-h549-no/Lance+Jogo.jpg" alt="Lance Jogo" title="Lance Jogo" id="wows1_0" /></li>
            <li><img src="https://lh6.googleusercontent.com/-SYafcdxEiyA/U6OdX-pusII/AAAAAAAAR7s/NyBcSTprhxk/w961-h549-no/Respons%25C3%25A1veis_Campeonato.jpg" alt="Organizadores do torneio" title="Organizadores do torneio" id="wows1_0" /></li>
            <li><img src="https://lh4.googleusercontent.com/UOidD_Kae2RRyjcjYJzE1KSqFso579kP_8uYjTWSKRf1=w961-h549-no" alt="Comemoração" title="Comemoração" id="wows1_0" /></li>
        </ul>
    </div>
</div>
<script type="text/javascript" src="~/Content/galeria/wowslider.js"></script>
<script type="text/javascript" src="~/Content/galeria/script.js"></script>
<br />

<div style="text-align:center">
    <iframe width="560" height="315" src="//www.youtube.com/embed/9lf8O3PAbjQ" frameborder="0" allowfullscreen></iframe>
</div>


<!-- FIM DA GALERIA -->
