@{
    ViewBag.Title = "Futebol Lima Duarte";
}

<h2>Regras de Participação</h2>

<p><br />
    <h4>Artigo I: Premiação</h4>
    <br />
    Parágrafo 1º: O Vencedor do bolão da primeira divisão receberá uma camisa oficial de seu time no brasil. Tentaremos junto aos times da cidade uma camisa do time que o ganhador torcer.
    <br />
    Parágrafo 2º: O Vencedor do bolão da segunda divisão receberá uma camisa oficial de seu time no brasil. Tentaremos junto aos times da cidade uma camisa do time que o ganhador torcer.
    <br />
    Parágrafo 3º: O usuário pode participar dos dois bolões.
    <br /><br />
    <h4>Artigo II: Pontuação</h4>
    <br />
    Parágrafo 4º: Todos os membros iniciam com 0 (zero) pontos.
    <br />
    Parágrafo 5º: 1 ponto para quem acertar o vencedor da partida ou empate.
    <br />
    Parágrafo 6º: 2 pontos para quem acertar o placar da partida.
    <br />
    Parágrafo 7º: 3 pontos para quem acertar o placar  da partida com mais de três gols para o vencedor.
    <br /><br />
    <h4> Artigo III: Critérios de desempate</h4>
    <br />
    Parágrafo 8º: Maior numero de pontos.
    <br />
    Parágrafo 9º: Maior numero de rodadas com participação.
    <br />
    Parágrafo 10º: Maior numero de rodadas como vencedor.
    <br />
    Parágrafo 11º: Maior numero de acertos numa mesma rodada.
    <br />
    Parágrafo 12º: Membro cadastrado a mais tempo no Fórum.
    <br />
    Parágrafo 13º: As mensagens poderão ser enviadas até as 09:00 horas (horário de Brasilia) do dia do primeiro jogo de cada rodada.
    <br />
    Parágrafo 14º: Para efeito de acerto nos palpites serão considerados apenas os resultados finais obtidos em campo, sendo totalmente descartadas as mudanças de resultados obtidas na Justiça Desportiva e/ou Justiça Comum ou por qualquer outro meio.
    <br />
    Parágrafo 15º: O Palpite de cada usuário só poderá ser visualizado pelo próprio usuário.
    <br />
    Parágrafo 16º: Os membros podem iniciar sua participação em qualquer rodada.
    <br />
    
</p>
<div>
    @Html.ActionLink("Voltar", "Index")
</div>