
@{
    ViewBag.Title = "Futebol Lima Duarte";
}

@{
    ViewBag.Title = "Futebol Lima Duarte";
}

<h2>PaginaInicial</h2>
<div class="pull-left">
    <a href="~/Admin/Jogador/Index">Listar Jogadores</a>
</div>
<br />
<div class="pull-left">
    <a href="~/Admin/Jogador/Cadastrar">Cadastrar Jogador</a>
</div>
<br />
